// NAVBAR

#navbar-main
  position: fixed
  top: 0
  
#topbar
  .nav-item.cart-notif
    .notif
      position: absolute
      color: white !important
      width: 1.7em
      height: 1.7em
      transform: translate(0, 2em)
    
#sidenav-main
  @media(max-width: 720px)
    background: white !important
  
#user-nav
  .ni-cart
    font-size: 1.2rem
    
  .cart-notif
    display: block
    position: absolute
    font-size: .7rem
    font-weight: bold
    color: white
    text-align: center
    line-height: 1.7em
    width: 1.7em
    height: 1.7em
    border-radius: 50px
    transform: translate(1.1em, -3.6em)