// DESKTOP NAVBAR
$text-color: #172b4d

#navbar-main
  position: fixed
  top: 0
  
  &.add-color
    background: white
    
    .ni-cart, .tag-name
        color: $text-color
        
  .user-img
    overflow: hidden
    
    img
      width: 4em
  
#topbar
  .nav-item.cart-notif
    .notif
      position: absolute
      font-size: .7em
      height: 1.8em
      width: 1.8em
      transform: translate(0, 2.8em)



// MOBILE NAVBAR    
#sidenav-main
  #sidebar-desk .nav-link
    color: white !important
    
  @media(max-width: 720px)
    background: white !important
    
    & #sidebar-desk .nav-link
      color: $text-color !important
 
 
//    & .navbar-toggler
//      color: $text-color !important
  
#user-nav
  #user-img
    overflow: hidden
    
    img
      width: 4em
  
  .ni-cart
    font-size: 1.2rem
    
  .cart-notif
    display: block
    position: absolute
    font-size: .7rem
    font-weight: bold
    color: $text-color
    text-align: center
    line-height: 1.7em
    width: 1.7em
    height: 1.7em
    border-radius: 50px
    transform: translate(1.1em, -3.6em)
    
    
    
.header .header-body
  & > .text-white
    margin-bottom: 3em !important
    padding-bottom: 3em !important


// BOOKS TABLE
.table
  .img
    border-radius: 5em
    height: 5em
    width: 5em
    overflow: hidden

    img
      width: 5em

  .btn-sm
    border-radius: 10em
    font-size: .6rem
    padding: .6em
    height: 3em
    width: 3em
    text-align: center
    line-height: 1.6em

.table-card .btn-add
  width: 10em
  left: 100%
  position: relative
  transform: translateX(-11em)
 
  
  
// USER PROFILE
#profile .card-profile-image
  width: 10em
  height: 10em
  border-radius: 6em
  overflow: hidden
  margin: auto

  img
    width: 10em
    transform: translate(0, 20px)